<% content_for :page_title, 'CosmosCreator' %>

<div class="pagetitle">
  <h1>Welcome</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="/">Home</a></li>
    </ol>
  </nav>
</div>

