#hexmap {
  height: calc(100vh - 250px);
  min-height: 400px;
  width: 100%;
  margin-top: 1em;
  position: relative;
  animation-duration: 0.3s;
}

#hexmap .hex-cell path {
  stroke: black; stroke-width: 1px;
  transition: fill 0.2s ease-in,
  stroke 0.2s ease-in,
  stroke-width 0.2s ease-in;
}

#hexmap .hex-cell.hover path { stroke-width: 1px; }

@media only screen and (max-width: 700px) {
  /* Don't bother with labels if it is too small */
  #hexmap1 .hex-label { display: none; }
}

#hexmap .hex-tip {
  position: absolute;
  text-align: center;
  background: black;
  color: white;
  padding: 0.25em 0.5em;
  transform: translate3d(-50%,50%,0);
  transition: left 0.1s linear,
  top 0.1s linear;
  border-radius: 4px;
}

#hexmap .hex-tip::after {
  content: ""; position: absolute;
  bottom: auto;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  left: 50%;
  top: 0%;
  transform: translate3d(-50%,-100%,0);
  border-color: transparent;
  border-bottom-color: black;
}

#hexmap tspan {font-size: 14px;}

#hexmap a { text-decoration: none;}

.hexmap-inner {padding: 2em;}

