#hexmap {
  height: calc(100vh - 250px);
  min-height: 400px;
  width: fit-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  position: relative;
  animation-duration: 0.3s;
}

#hexmap .hex-cell path {
  stroke: black; stroke-width: 1px;
  transition: fill 0.2s ease-in,
  stroke 0.2s ease-in,
  stroke-width 0.2s ease-in;
}

#hexmap .hex-cell.hover path { stroke-width: 1px; }

@media only screen and (max-width: 700px) {
  /* Don't bother with labels if it is too small */
  #hexmap1 .hex-label { display: none; }
}

#hexmap .hex-tip {
  position: absolute;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5em 1em;
  transform: translate3d(-50%,-100%,0);
  border-radius: 4px;
  z-index: 1000;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  font-size: 0.9em;
  line-height: 1.4;
}

#hexmap .hex-tip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  transform: translate3d(-50%, 0, 0);
  border-color: transparent;
  border-top-color: black;
}

#hexmap tspan {font-size: 14px;}

#hexmap a { text-decoration: none;}

.hexmap-inner {padding: 2em;}

