#hexmap {
  height: calc(100vh - 250px);
  min-height: 400px;
  width: fit-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  position: relative;
  animation-duration: 0.3s;
}

#hexmap .hex-cell path {
  stroke: black; stroke-width: 1px;
  transition: all 0.2s ease;
}

#hexmap .hex-cell.hover path {
  stroke: #0d6efd;
  stroke-width: 3px;
  filter: drop-shadow(0 0 5px rgba(13, 110, 253, 0.5));
  z-index: 10;
}

@media only screen and (max-width: 700px) {
  /* Don't bother with labels if it is too small */
  #hexmap1 .hex-label { display: none; }
}

#hexmap .hex-tip {
  position: absolute;
  z-index: 1050;
  pointer-events: none;
}

#hexmap .hex-tip::after {
  display: none;
}

#hexmap tspan {font-size: 14px;}

#hexmap a { text-decoration: none;}

.hexmap-inner {padding: 2em;}


.hex-tip {
  pointer-events: none;
  white-space: nowrap;
  font-family: inherit;
}

.hex:hover {
  cursor: pointer;
}